// Colors
$white: #ffffff;
$black: #000000;
$off-white: #f9f9f9;
$light-grey: #a9a9a9;
$off-black: #353839;
$navy-blue: #0047AB;

// Spacing
$xxs-size: 0.3rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$xxl-size: 6.4rem;
$desktop-breakpoint: 45rem;

// image size
$s-image: 6.4rem;
$m-image: 12.8rem;
$l-image: 16rem;
$xs-image: 3.2rem;

// font size
$base-font: 16px;