.banner-container {
    width: 100%;
    height: 65vh;
    background-color: $off-white;
    padding: 8% 0;
}

.banner-left {
    float: left;
    width: 47%;
    padding-left: 8%;
}

.banner-right {
    float: right;
    width: 37%;
    padding-right: 8%;
}